* {
    border: none;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Terminus, SourceCodePro, Roboto, Helvetica, Arial, sans-serif; */
    font-family: SourceCodePro, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 0;
}

tooltip {
     border-radius: 0px;
     background-color: #3F4D4A;
     background-color: rgba(63, 77, 74, 0.85);
     color: #CCCFD1;
}

window#waybar {
    /* background-color: #323232; */
    background-color: rgba(63, 77, 74, 0.85);
    border-radius: 0px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    border-radius: 0px;
    padding: 0 2px;
    background-color: transparent;
    color: #9FAEBC;
    /* Use box-shadow instead of border so the text isn't offset */   
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #3F4D4A;
    border-radius: 0px;

}

#workspaces button.focused {
    background-color: #3F4D4A;
    border-radius: 0px;
    color: #CCCFD1;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 4px;
    margin: 0 4px;
    color: #cccfd1;

}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

battery {
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #000000;
    background-color: #f1c40f;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #cccfd1;
}

#memory {
    color: #cccfd1;   
}

#disk {
    color: #cccfd1;    
}

#backlight {
    background-color: #90b1b1;
}

#network {
    color: #CCCFD1
}

#network.disconnected {
    color: #879AB3;
}

#pulseaudio {
    color: #CCCFD1;
}

#pulseaudio.muted {
    /* background-color: #f1c40f; */
    color: #879AB3;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    margin-right:4px;  
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
